nav {
    background-color: dimgray;
    padding: 10px;
    text-align: right;
    color: ghostwhite;
}

body {
    background-color: bisque;
}

.tablet-desk {
    display: none;
}

footer {
    font-size: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Media Query for Tablet*/ 
@media screen and (min-width: 500px), print {
    body {
        background-color: purple; 
        font-size: 24px;
    }

    nav li a {
        color: #4424d6;
        background-color: #e5e0fa;
    }
}